In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math as m

%matplotlib inline

In [8]:
df1 = pd.read_csv('https://stepik.org/media/attachments/course/4852/dogs.csv', index_col=0)
df1.head()

   Шерстист  Гавкает  Лазает по деревьям      Вид
0         1        1                   0  собачка
1         1        1                   0  собачка
2         1        1                   0  собачка
3         1        1                   0  собачка
4         1        0                   1    котик

In [11]:
df2 = pd.read_csv('https://stepik.org/media/attachments/course/4852/cats.csv', index_col=0)
df2

   Шерстист  Гавкает  Лазает по деревьям      Вид
0         1        1                   0  собачка
1         1        1                   0  собачка
2         1        1                   0  собачка
3         1        1                   0  собачка
4         1        0                   1    котик
5         1        0                   1    котик
6         1        0                   1    котик
7         1        0                   1    котик
8         1        1                   1    котик
9         0        0                   1    котик

In [23]:
E_sh_0=(1/1)*m.log2((1/1)) - 0
E_sh_1=-(4/9)*m.log2((4/9)) - (5/9)*m.log2((5/9))
E_gav_0=0 - (5/5)*m.log2((5/5))
E_gav_1=-(4/5)*m.log2((4/5)) - (1/5)*m.log2((1/5))
E_laz_1=0 - (6/6)*m.log2((6/6))
E_laz_0=-(4/4)*m.log2((4/4)) - 0
E = -4/10*m.log2(4/10)-6/10*m.log2(6/10)

In [21]:
IG_sh = E-(1/10*E_sh_0 + 9/10*E_sh_1)
IG_gav = E-(5/10*E_gav_0 + 5/10*E_gav_1)
IG_laz = E-(4/10*E_laz_0 + 6/10*E_laz_1)

In [28]:
IG_laz

0.9709505944546686