In [44]:
import pandas as pd
import numpy as np

In [6]:
students_performance = pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')

In [7]:
students_performance.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [8]:
students_performance.groupby('gender').mean()

        math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

In [24]:
students_performance.groupby('gender', as_index=False).aggregate({'math score' : 'mean'})

   gender  math score
0  female   63.633205
1    male   68.728216

In [22]:
mean_scores = students_performance.groupby(['gender', 'race/ethnicity']) \
                    .aggregate({'math score' : 'mean'}) \
                    .rename(columns = {'math score' : 'mean_math_score'})

In [20]:
mean_scores.index

MultiIndex([('female', 'group A'),
            ('female', 'group B'),
            ('female', 'group C'),
            ('female', 'group D'),
            ('female', 'group E'),
            (  'male', 'group A'),
            (  'male', 'group B'),
            (  'male', 'group C'),
            (  'male', 'group D'),
            (  'male', 'group E')],
           names=['gender', 'race/ethnicity'])

In [23]:
mean_scores.loc[('female', 'group C')]

mean_math_score    62.033333
Name: (female, group C), dtype: float64

In [29]:
students_performance['math score'].unique()

array([ 72,  69,  90,  47,  76,  71,  88,  40,  64,  38,  58,  65,  78,
        50,  18,  46,  54,  66,  44,  74,  73,  67,  70,  62,  63,  56,
        97,  81,  75,  57,  55,  53,  59,  82,  77,  33,  52,   0,  79,
        39,  45,  60,  61,  41,  49,  30,  80,  42,  27,  43,  68,  85,
        98,  87,  51,  99,  84,  91,  83,  89,  22, 100,  96,  94,  48,
        35,  34,  86,  92,  37,  28,  24,  26,  95,  36,  29,  32,  93,
        19,  23,   8])

In [30]:
students_performance['math score'].nunique()

81

In [36]:
students_performance.groupby(['gender', 'race/ethnicity'])['math score'].nunique()

gender  race/ethnicity
female  group A           29
        group B           51
        group C           59
        group D           53
        group E           44
male    group A           38
        group B           43
        group C           56
        group D           49
        group E           38
Name: math score, dtype: int64

In [39]:
students_performance.sort_values(['gender', 'math score'], ascending=False) \
                    .groupby('gender').head()

     gender race/ethnicity  ... reading score writing score
149    male        group E  ...           100            93
623    male        group A  ...            96            86
625    male        group D  ...            97            99
916    male        group E  ...           100           100
306    male        group E  ...            87            81
451  female        group E  ...            92            97
458  female        group E  ...           100           100
962  female        group E  ...           100           100
114  female        group E  ...           100           100
263  female        group E  ...            93            90

[10 rows x 8 columns]

In [40]:
students_performance['total score'] = students_performance['math score'] + students_performance['reading score'] + students_performance['writing score']

In [41]:
students_performance.head()

   gender race/ethnicity  ... writing score total score
0  female        group B  ...            74         218
1  female        group C  ...            88         247
2  female        group B  ...            93         278
3    male        group A  ...            44         148
4    male        group C  ...            75         229

[5 rows x 9 columns]

In [45]:
 students_performance = students_performance.assign(total_score_log = np.log(students_performance['total score']))

In [46]:
students_performance.head()

   gender race/ethnicity  ... total score total_score_log
0  female        group B  ...         218        5.384495
1  female        group C  ...         247        5.509388
2  female        group B  ...         278        5.627621
3    male        group A  ...         148        4.997212
4    male        group C  ...         229        5.433722

[5 rows x 10 columns]

In [47]:
students_performance.drop('total score', axis=1)

     gender race/ethnicity  ... writing score total_score_log
0    female        group B  ...            74        5.384495
1    female        group C  ...            88        5.509388
2    female        group B  ...            93        5.627621
3      male        group A  ...            44        4.997212
4      male        group C  ...            75        5.433722
..      ...            ...  ...           ...             ...
995  female        group E  ...            95        5.641907
996    male        group C  ...            55        5.147494
997  female        group C  ...            65        5.273000
998  female        group D  ...            77        5.407172
999  female        group D  ...            86        5.517453

[1000 rows x 9 columns]