<a href="https://colab.research.google.com/github/Loganche/stepik-intro-to-DS-and-ML/blob/master/2-5/2-5-hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
from sklearn import tree
from sklearn.model_selection import train_test_split
import sklearn.metrics as mt
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [5]:
raw_data = pd.read_csv('https://stepik.org/media/attachments/course/4852/songs.csv')
raw_data.head()

                   song  year          artist  ... exclamations colons  hyphens
0            the-ownerz  2007       gangstarr  ...            5      0       11
1  dead-sound-of-misery  2006  blind-guardian  ...            0      0        0
2         modred-s-song  2006  blind-guardian  ...            0      1        0
3        the-ninth-wave  2015  blind-guardian  ...            0      0        0
4                skills  2014       gangstarr  ...            0      0        3

[5 rows x 10 columns]

In [6]:
raw_data.isnull().sum()

song            0
year            0
artist          0
genre           0
lyrics          0
length          0
commas          0
exclamations    0
colons          0
hyphens         0
dtype: int64

In [8]:
raw_data.describe()

              year       length  ...      colons     hyphens
count   360.000000   360.000000  ...  360.000000  360.000000
mean   2005.388889  1740.452778  ...    0.269444    3.288889
std       6.891834   950.442338  ...    1.128096    8.760502
min    1977.000000    29.000000  ...    0.000000    0.000000
25%    2006.000000  1027.000000  ...    0.000000    0.000000
50%    2006.000000  1514.500000  ...    0.000000    0.000000
75%    2008.000000  2266.750000  ...    0.000000    3.000000
max    2016.000000  5280.000000  ...   13.000000   63.000000

[8 rows x 6 columns]

In [13]:
X = raw_data
X = X.drop(['song', 'artist', 'lyrics'], axis=1)
X = pd.get_dummies(X)
X.head()

   year  length  commas  ...  genre_Hip-Hop  genre_Metal  genre_Pop
0  2007    1300      24  ...              1            0          0
1  2006    1566       0  ...              0            1          0
2  2006     996       1  ...              0            1          0
3  2015    2868       5  ...              0            1          0
4  2014    3351      22  ...              1            0          0

[5 rows x 9 columns]

In [15]:
y = raw_data.artist
y.head()

0         gangstarr
1    blind-guardian
2    blind-guardian
3    blind-guardian
4         gangstarr
Name: artist, dtype: object

In [19]:
clf = tree.DecisionTreeClassifier(criterion='entropy', random_state=0, max_depth=25)
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [20]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=25, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [25]:
pred = clf.predict(X_test)
pres = mt.precision_score(y_test, pred, average='micro')

In [26]:
pres

1.0