<a href="https://colab.research.google.com/github/Loganche/stepik-intro-to-DS-and-ML/blob/master/2-4/2_4_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import seaborn as sns
from sklearn import tree
from sklearn.model_selection import train_test_split, cross_val_score
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
animals_train_data = pd.read_csv('https://stepik.org/media/attachments/course/4852/dogs_n_cats.csv')
animals_train_data.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     15    18.0         1        1                   0  собачка
1     20    24.0         1        0                   0  собачка
2     34    40.8         1        1                   0  собачка
3     26    31.2         1        1                   0  собачка
4     16    19.2         1        1                   0  собачка

In [5]:
animals_train_data.describe()

            Длина       Высота     Шерстист      Гавкает  Лазает по деревьям
count  1000.00000  1000.000000  1000.000000  1000.000000         1000.000000
mean     16.96800    16.654400     0.964000     0.465000            0.484000
std       8.88977    13.823782     0.186383     0.499023            0.499994
min       5.00000     2.000000     0.000000     0.000000            0.000000
25%       9.00000     3.600000     1.000000     0.000000            0.000000
50%      14.50000    11.800000     1.000000     0.000000            0.000000
75%      25.00000    30.000000     1.000000     1.000000            1.000000
max      34.00000    40.800000     1.000000     1.000000            1.000000

In [6]:
animals_train_data.isnull().sum()

Длина                 0
Высота                0
Шерстист              0
Гавкает               0
Лазает по деревьям    0
Вид                   0
dtype: int64

In [13]:
X = animals_train_data.drop(['Вид'], axis=1)
y = animals_train_data.Вид

In [14]:
X.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0     15    18.0         1        1                   0
1     20    24.0         1        0                   0
2     34    40.8         1        1                   0
3     26    31.2         1        1                   0
4     16    19.2         1        1                   0

In [29]:
clf = tree.DecisionTreeClassifier(criterion='entropy')

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [30]:
clf.fit(X_train, y_train)
clf.score(X_train, y_train)

1.0

In [44]:
res = clf.apply(X_test)
res

array([1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2,
       2, 1, 2, 2, 2, 1, 1, 1, 2, 2, 1, 2, 2, 2, 1, 1, 1, 2, 2, 2, 2, 1,
       2, 2, 1, 1, 2, 1, 1, 1, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2, 1, 1,
       1, 1, 2, 1, 2, 2, 1, 1, 2, 2, 1, 2, 1, 2, 1, 2, 2, 2, 2, 1, 1, 1,
       1, 2, 2, 2, 1, 2, 1, 2, 1, 2, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 2, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1,
       2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 1, 1, 2, 1, 2, 1, 2, 1, 2,
       1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2,
       2, 2, 1, 1, 2, 1, 2, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2,
       1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 2, 1, 1, 1, 2, 1, 2, 1, 1,
       2, 1, 1, 2, 1, 2, 1, 2, 1, 1, 2, 1, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2,
       1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 1, 1, 2, 1, 2, 2, 2,
       2, 1, 1, 2, 1, 2, 2, 2, 1, 2, 1, 2, 2, 1, 2, 1, 1, 1, 2, 2, 2, 1,
       2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 1, 2, 2, 2])

In [46]:
from collections import Counter

In [48]:
print(Counter(res).keys())
print(Counter(res).values())

dict_keys([1, 2])
dict_values([150, 150])

In [54]:
print(Counter(y_test).keys())
print(Counter(y_test).values())

dict_keys(['котик', 'собачка'])
dict_values([150, 150])

In [58]:
test_data = pd.read_json('data.txt')
test_data.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0     34    40.8         1        1                   0
1     33    39.6         1        1                   0
2     21    25.2         1        1                   0
3     34    40.8         1        1                   0
4     24    28.8         1        1                   0

In [59]:
test = clf.apply(test_data)
test

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [60]:
print(Counter(test).keys())
print(Counter(test).values())

dict_keys([2, 1])
dict_values([48, 52])